#answers {
	width: 700px;
	margin: auto;
	padding: 20px;
}
	#answers input:not([type=radio]) {
		width: 100%;
		font-size: 24pt;
		font-family: 'Raleway', sans-serif;
	}
	#answers ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		#answers ul li input {
				display: none;
		}
			
/* If the list should be styled as rows, set class on ul to "layout-rows" */
	#answers ul.layout-rows li {
		margin-bottom: 5px;
	}
		#answers ul.layout-rows li label {
			background-color: #f5f5f5;
			border: 1px solid rgb(145, 145, 145);
			display: block;
			font-size: 16pt;
			height: 2em;
			line-height: 2em;
			padding-left: 1em;
			transition: all 0.5s ease;
			vertical-align: middle;
			width: 700px;
		}
		#answers ul.layout-rows li label:not(.correct):not(.incorrect):hover {
			background-color: #fff;
			border-color: black;
			margin-left: 10px;
			height: 2.2em;
			line-height: 2.2em;
			cursor: pointer;
		}
		#answers ul.layout-rows li label.selected, #answers ul.layout-rows li label.correct, #answers ul.layout-rowsli label.incorrect {
			border-color: black;
			margin-left: 10px;
			height: 2.2em;
			line-height: 2.2em;
			cursor: pointer;
		}
			#answers ul.layout-rows li label img {
				width: 100px;
			}
/* If the list should be styled as columns, set class on ul to "layout-columns" */
	#answers ul.layout-columns{
		margin-top: 10px;
		overflow: hidden;
		min-height: 185px;
	}
	#answers ul.layout-columns li {
		display: inline-block;
		float: left;
	}
	#answers ul.layout-columns li:not(:last-child) {
		margin-right: 5px;
	}
		#answers ul.layout-columns li label {
			background-color: #f5f5f5;
			border: 1px solid rgb(145, 145, 145);
			display: block;
			font-size: 16pt;
			padding-top: 10px;
			padding-bottom: 5px;
			text-align: center;
			transition: all 0.5s ease;
			width: 169px;
		}
		#answers ul.layout-columns li label:not(.correct):not(.incorrect):hover {
			background-color: #fff;
			border-color: black;
			padding-top: 20px;
			cursor: pointer;
		}
		#answers ul.layout-columns li label.selected, #answers ul.layout-columns li label.correct, #answers ul.layout-columns li label.incorrect {
			border-color: black;
			padding-top: 20px;
			cursor: pointer;
		}
			#answers ul.layout-columns li label img {
				width: 100px;
			}
			#answers ul.layout-columns li label span {
				display: block;
			}
	#answers ul li label.selected {
		background-color: #fff;
	}
	#answers ul li label.correct {
		background-color: #E0FFE0;
	}
	#answers ul li label.incorrect {
		background-color: #FFE0E0;
	}
	
	#answers ul li label span {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
#begin, #begin + p {
  display: none;
}

#begin, #login {
	font-size: 24pt;
}
	
body {
	height: 100%;
	background: #eeeeee;
	font-family: 'Raleway', sans-serif;
}

#bottom {
	height: 30px;
}

#content {
  display: none;
}

#finalPercent {
	border-top: 2px solid black;
	font-size: 50pt;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 5px;
	padding-top: 20px;
	text-align: center;
}

h1 {
	font-size: 36pt; text-align: center;
}

#progressbar {
	width: 600px;
	margin: 0px auto;
	border-radius: 5px;
}

#progressbar, .progressblock {
	height: 20px;
}

.progressblock {
	/*border: 1px black solid;*/
	width: 38px;
	float: left;
	background: linear-gradient(#E0E0E0, #D0D0D0);

}

.progressblock:nth-child(even) {
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

.progressblock:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.progressblock:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#prompt {
	width: 700px;
	text-align: center;
	margin: auto;
	background: white;
	padding: 20px;
	border: 2px solid black;
	font-size: 17pt;
}

#question {
	background: #fff;
	border: 2px solid black;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	width: 700px;
}
	#question p {
		font-size: 20pt;
		font-style: italic;
		margin: 0;
		padding-left: 20px;
	}
	
	#question span {
		font-size: 3em;
	}
